$color_1: white;
$color_2: black;
$font-family_1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$background-color_1: orangered;
$background-color_2: #0000004D;
$background-color_3: #002947;
$background-color_4: #ec830a;
$background-color_5: #2A711F;
$background-color_6: white;
$background-color_7: #08131B;

body {
	padding: 0px;
	margin: 0px;
	color: $color_1;
	font-family: $font-family_1;
}
.dailyFantasy {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}
.mobile {
	width: 450px;
	height: 700px;
	background: #002947;
}
.team_navbar_left {
	margin-left: 10px;
	display: flex;
	align-items: center;
	>img {
		border: 1px solid white;
		border-radius: 3px;
	}
	>p {
		margin-left: 10px;
	}
}
h3 {
	margin: 10px 10px;
}
.team_navbar {
	color: $color_1;
	display: flex;
	justify-content: space-between;
	margin-top: -10px;
}
.team_navbar_right {
	display: flex;
	align-items: center;
	>p {
		margin: 0px 20px 0px 0px;
		border-radius: 50%;
		border: 2px solid white;
		padding: 0px 7px;
	}
}
.time {
	background: #024B5C;
	padding: 5px 15px;
	border-radius: 5px;
	margin-right: 20px;
}
.teams {
	margin-top: 30px;
}
.newZealand {
	background: #0000004D;
}
.basicInfo {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.credit {
	border-radius: 5px;
	background: #024B5C;
	margin: 5px;
	h3 {
		&::after {
			content: "Credit Left";
			font-size: 10px;
			font-weight: 300;
			margin-left: 5px;
		}
	}
}
.players {
	border-radius: 5px;
	background: #024B5C;
	margin: 5px;
	h3 {
		&::after {
			content: "Players";
			font-size: 10px;
			font-weight: 300;
			margin-left: 5px;
		}
	}
}
.slider {
	width: 100px;
	height: 5px;
}
.list {
	display: flex;
	padding: 0px 15px;
	align-items: center;
	background-color: $background-color_1;
	border-radius: 50px;
}
.pitch {
	display: flex;
	padding: 0px 15px;
	align-items: center;
}
.lisypitch {
	background-color: $background-color_2;
	border-radius: 50px;
	height: 50px;
	display: flex;
}
.credplay {
	display: flex;
}
.tableStart {
	margin: 10px;
	background: white;
	color: $color_2;
	border-radius: 5px;
}
.ind {
	background: #e1e9eb;
	border-radius: 10px;
}
table {
	border: none;
	background-color: $background-color_3;
	border-style: none;
	padding: 0px;
	margin: 0px;
}
.footerSection {
	display: flex;
	justify-content: end;
}
.settings {
	background-color: $background-color_4;
	padding: 15px;
	border-radius: 70px;
}
.continueButton {
	background-color: $background-color_4;
	border-style: none;
	padding: 15px 50px;
	border-radius: 5px;
	margin-left: 20px;
	margin-right: 10px;
	font-size: 20px;
	color: $color_1;
}
tr {
	td {
		padding: 0px 27px;
	}
}
.greenField {
	position: relative;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	height: 60%;
	background-color: $background-color_5;
	border-radius: 10px;
	z-index: 0;
}
.strip1 {
	position: absolute;
	left: 5%;
	z-index: -1;
	top: 1px;
}
.strip2 {
	position: absolute;
	left: 25%;
	z-index: -1;
	top: 1px;
}
.strip3 {
	position: absolute;
	left: 45%;
	z-index: -1;
	top: 1px;
}
.strip4 {
	position: absolute;
	left: 65%;
	z-index: -1;
	top: 1px;
}
.strip5 {
	position: absolute;
	left: 85%;
	z-index: -1;
	top: 1px;
}
.boundary {
	position: absolute;
}
.wicketKeepers {
	position: absolute;
	font-size: 12px;
	top: 0;
}
.batsmen {
	position: absolute;
	font-size: 12px;
	top: 135px;
}
.allRounder {
	position: absolute;
	top: 235px;
	font-size: 12px;
}
.bowler {
	position: absolute;
	top: 310px;
	font-size: 12px;
}
.cricketpitch {
	position: absolute;
	z-index: -1;
	opacity: 0.3;
}
.stump {
	position: absolute;
	top: 35.5%;
	opacity: 0.3;
}
.bowling {
	position: absolute;
	top: 58%;
	opacity: 0.3;
}
.dhoni {
	img {
		&::after {
			position: absolute;
			content: "c";
			font-size: 20px;
			background-color: $background-color_4;
			padding: 20px;
			z-index: 2;
			top: 0;
		}
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 90px;
}
.sharma {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 210px;
	left: 5px;
}
.taylor {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 210px;
	left: 85px;
}
.williamson {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 210px;
	left: 155px;
}
.agarwal1 {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 210px;
	left: 255px;
}
.agarwal2 {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 210px;
	left: 340px;
}
.neesham {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 290px;
	left: 105px;
}
.jadeja {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 290px;
	left: 255px;
}
.southee {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 380px;
	left: 10px;
}
.bumrah {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 380px;
	left: 130px;
}
.henry {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 380px;
	left: 240px;
}
.kumar {
	img {
		position: absolute;
		top: -38px;
		z-index: -1;
		right: 25px;
	}
	position: absolute;
	text-align: center;
	top: 380px;
	left: 350px;
}
.nameBg {
	background-color: $background-color_6;
	color: $color_2;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 12px;
	margin-top: -10px;
	z-index: 5;
}
.blackBg {
	background-color: $background-color_7;
	color: $color_1;
}
.cost {
	margin-top: -10px;
	font-size: 10px;
}
